.footer {
  background: $dark-gray;
  padding: rem-calc(20 0 0);
  color: $light-gray;

  a {
    color: $light-gray;
  }
  //&, h1, h2, h3, h4, h5, h6, a, p, span, li {
  //  color: $light-gray;
  //}
  //
  //span, li, p {
  //  margin-bottom: 0;
  //  font-size: rem-calc(14)
  //}
  //
  //h4 {
  //  display: none
  //}
  //
  //.widget {
  //  margin: 0;
  //}
}
